h1 {
    background-color: lightblue
}
title{
   
}

body{
    background-color: rgb(0, 217, 255);
    background: #ffffff url("Stars-Background.png") no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}


footer{
    background-color: aquamarine;
    text-align: left;
    padding: 40px;
}
